.launchBlock {
    box-shadow: inset 0 0 10px rgba(208, 206, 206, 0.5);
    width: 20%;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
}

.launchBlock:hover {
    box-shadow: inset 0 0 20px rgb(252, 247, 249);
}

.launchTitle {
    font-size: 30px;
    margin-bottom: 20px;
}
.launchYear {
    font-size: 24px;
    margin-bottom: 20px;
}